:root {
--neutralPrimary: #ffffff;
--white: #323130;
--black: #f8f8f8;
--neutralLighterAlt: #323130;
--neutralLighter: #31302f;
--neutralLight: #2f2e2d;
--neutralDark: #f4f4f4;
--themeLighter: #001e22;
--themeLighterAlt: #000708;
--themeLight: #00383f;
--themePrimary: #00bcd4;
--themeSecondary: #00a5ba;
--themeTertiary: #00707f;
--themeDarkAlt: #16c1d8;
--themeDark: #35cade;
--themeDarker: #66d8e7;
--neutralQuaternaryAlt: #2c2b2a;
--neutralQuaternary: #2a2928;
--neutralTertiaryAlt: #282726;
--neutralTertiary: #c8c8c8;
--neutralPrimary-trs: #ffffff44;
--white-trs: #32313044;
--black-trs: #f8f8f844;
--neutralLighterAlt-trs: #32313044;
--neutralLighter-trs: #31302f44;
--neutralLight-trs: #2f2e2d44;
--neutralDark-trs: #f4f4f444;
--themeLighter-trs: #001e2244;
--themeLighterAlt-trs: #00070844;
--themeLight-trs: #00383f44;
--themePrimary-trs: #00bcd444;
--themeSecondary-trs: #00a5ba44;
--themeTertiary-trs: #00707f44;
--themeDarkAlt-trs: #16c1d844;
--themeDark-trs: #35cade44;
--themeDarker-trs: #66d8e744;
--neutralQuaternaryAlt-trs: #2c2b2a44;
--neutralQuaternary-trs: #2a292844;
--neutralTertiaryAlt-trs: #28272644;
--neutralTertiary-trs: #c8c8c844;
--shared-red20: #a4262c;
--shared-redorange10: #da3b01;
--shared-bluemagenta30: #5c2e91;
--shared-purpledark: #32145a;
--shared-bluedark: #002050;
--shared-tealdark: #004b50;
--shared-bluemid: #00188f;
--shared-orangelight: #ea4300;
--shared-greendark: #004b1c;
--shared-red20-trs: #a4262c44;
--shared-redorange10-trs: #da3b0144;
--shared-bluemagenta30-trs: #5c2e9144;
--shared-purpledark-trs: #32145a44;
--shared-bluedark-trs: #00205044;
--shared-tealdark-trs: #004b5044;
--shared-bluemid-trs: #00188f44;
--shared-orangelight-trs: #ea430044;
--shared-greendark-trs: #004b1c44;
--transparent: transparent;
--transparent-trs: transparent;
}
